body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial,sans-serif;
}

a {
    color: #00B7FF;
}
#content {             //程序界面的宽度是800p水平居中
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#room {
    background-color:#ddd;   //显示当前聊天室名称那个区域的CSS规则
    margin-bottom: 1em;
}

#messages {
    width: 690px;
    height: 300px;
    overflow: auto;
    background-color: #eee;  //让显示消息的区域在内容填满后可以向下滚动
    margin-bottom: 1em;
    margin-right: 10px;
}

#room-list {
    float:right;
    width:100px;
    height:300px;
    overflow:auto;
}

#room-list div{
    border-bottom: 1px solid #eee;
}

#room-list div:hover {
    background-color:#ddd;
}

#send-message {
    width:700px;
    margin-bottom: 1em;
    margin-right: 1em;
}

#help {
    font:10px "Lucida Grande",Helvetica,Arial,sans-serif;
}